.App {
  text-align: center;
  padding: 20px;
}

.header {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.navbar-links li a {
  text-decoration: none;
  color: #333;
}

.user-list {
  margin-top: 20px;
}

.user-list table {
  width: 100%;
  border-collapse: collapse;
}

.user-list th,
.user-list td {
  padding: 8px;
  border: 1px solid #ccc;
}

.user-list th {
  background-color: #f5f5f5;
}

.user-list td {
  text-align: left;
}

.user-list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-list tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

button {
  margin-top: 25px;
  color: white;
  border: none;
  padding: 10px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.user-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.user-form label, h3 {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
  margin-right: 10px;
  width: 130px;
}

.user-form h3 {
  margin-top: 25px;
}

.user-form input[type='text'],
.user-form input[type='password'],
.user-form input[type='number'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  flex: 1;
}

.user-form button {
  background-color: #4caf50;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-detail {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.user-detail p {
  margin-bottom: 5px;
}

.user-detail button {
  margin-left: 0;
  margin-right: 15px;
}

.button-update {
  background-color: #4caf50;
}

.button-delete {
  background-color: #6ab2bf;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
